<header class="navbar navbar-dark">
  <div class="container">
    <span class="navbar-brand"></span>
    <span class="navbar-text">
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link">Войти</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Регистрация</a></li>
      </ul>
    </span>
  </div>
</header>

<div class="content">
  <div class="container text-center">
    <h1>
      Объясняем,<br class="visible-xs">
      а не натаскиваем
    </h1>
    <p>
      Профессионально.<br class="visible-xs">
      Технологично.<br class="visible-xs">
      Индивидуально
    </p>

    <div class="row">
      <div class="col hidden-xs">
        <img src="assets/images/title1.png" alt="title1">
      </div>
      <div class="col">
        <div class="btns">
          <button class="btn btn-primary" (click)="goToPupil()">EdLabs ученику</button>
          <button class="btn btn-primary" (click)="goToTeacher()">EdLabs учителю</button>
          <button class="btn btn-primary" (click)="goToSchool()">EdLabs школе</button>
        </div>
      </div>
      <div class="col hidden-xs">
        <img class="right-pic" src="assets/images/title2.png" alt="title2">
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    &copy; 2018 EdLabs
  </div>
</footer>