@import "../../styles/mixins";

$blue: #2d00c7;

.container-fluid {
  padding: 0;
}

.navbar {
  background: $blue;
  padding: 0;
  font-size: 12pt;

  .navbar-brand {
    background: url('../../assets/images/logo-sites.png');
    width: 150px;
    height: 62px;
  }
}

.main-banner {
  background: #4727eb url('../../assets/images/teacher-back.png');
  background-position: center;
  box-shadow: inset 0 0 6px hsl(0, 0%, 35%);

  .container {
    padding-top: 65px;
    padding-bottom: 65px;

    h1 {
      font-weight: 900;
      font-size: 37pt;
      color: #fff;
    }

    p {
      font-size: 18pt;
      color: #fff;
      margin: 30px 0;
    }

    .btn {
      background: $blue;
      font-size: 16pt;
      min-width: 260px;
      height: 43px;
      @include border-radius(12px);
      box-shadow: 0 0 6px hsl(0, 0%, 35%);
    }
  }
}

.content {
  img {
    margin: 20px auto;
    display: block;
  }

  h2 {
    font-size: 16pt;
    font-weight: 700;
  }

  p {
    font-size: 14pt;
  }
}

footer {
  background: #303030;
  height: 40px;

  .container {
    color: #fff;
    padding: 10px 0;
    font-size: 10pt;
  }
}