<header class="navbar navbar-dark">
  <div class="container">
    <span class="navbar-brand" (click)="goToLanding()"></span>
    <span class="navbar-text">
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Войти</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#regModal">Регистрация</a></li>
      </ul>
    </span>
  </div>
</header>

<div class="main-banner">
  <div class="container">
    <img src="/assets/images/main.png" alt="main" class="float-left hidden-xs">
    <h1>EdLabs — курсы<br>по подготовке к ОГЭ и ЕГЭ</h1>
    <p>EdLabs — это курсы дополнительного образования, которые помогут успешно подготовиться к сдаче ОГЭ или ЕГЭ по Математике, Физике и Русскому языку</p>
    <div class="visible-xs">
      <img src="/assets/images/main.png" alt="main">
      <br>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#regModal">Хочу на курсы!</button>
  </div>
</div>

<div class="container-fluid">
  <div class="container content">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let feature of features">
        <img [src]="'/assets/images/' + feature.img + '.png'" [alt]="feature.title">
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.text }}</p>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom">
  <div class="container">
    &copy; 2018 EdLabs
  </div>
</footer>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вход в EdLabs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" action="">
          <div class="form-group">
            <label for="exampleFormControlInput1">Логин</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Пароль</label>
            <input type="password" class="form-control">
          </div>
        </form>
        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#remindModal">Забыли логин/пароль?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Войти</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Регистрация в EdLabs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" action="">
            <div class="form-group">
              <label for="exampleFormControlInput1">E-mail</label>
              <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Логин</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Пароль</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Повторить пароль</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Фамилия</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Имя</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Отчество</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Моб. телефон</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Школа</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Класс</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">ID</label>
              <input type="text" class="form-control">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remindModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Восстановление пароля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" action="">
          <div class="form-group">
            <label for="exampleFormControlInput1">E-mail</label>
            <input type="email" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Восстановить пароль</button>
      </div>
    </div>
  </div>
</div>