<header class="navbar navbar-dark">
  <div class="container">
    <span class="navbar-brand" (click)="goToLanding()"></span>
    <span class="navbar-text">
      <ul class="nav">
        <li class="nav-item"><a href="#leaders" class="nav-link">Методисты</a></li>
        <li class="nav-item"><a href="#utp" class="nav-link">Цены</a></li>
        <li class="nav-item"><a href="#navigation" class="nav-link">Как найти</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Войти</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#regModal">Регистрация</a></li> -->
      </ul>
    </span>
  </div>
</header>

<div class="main-banner">
  <div class="container">
    <img src="/assets/images/main.png" alt="main" class="float-left hidden-xs">
    <h1 data-aos="fade-left" data-aos-offset="50">EdLabs — курсы<br>по подготовке к ОГЭ и ЕГЭ</h1>
    <p data-aos="fade-left" data-aos-offset="50">EdLabs — это курсы, разработанные выпускниками МФТИ, которые помогут разобраться и увлечься математикой, физикой, информатике и подготовиться к ОГЭ или ЕГЭ</p>
    <div class="visible-xs">
      <img src="/assets/images/main.png" alt="main">
      <br>
    </div>
    <button data-aos="fade-left" data-aos-offset="50" class="btn btn-primary btn-reg" data-toggle="modal" data-target="#regModal">Записаться</button>
  </div>
</div>

<div class="container-fluid">
  <div class="container content">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let feature of features" data-aos="fade-up">
        <img [src]="'/assets/images/' + feature.img + '.png'" [alt]="feature.title">
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.text }}</p>
      </div>
    </div>
  </div>
</div>

<div id="leaders" class="container-fluid">
  <div class="container">
    <h2>Edlabs — это профессионалы образования</h2>
    <div class="hidden-xs">
      <div class="media mt-5" *ngFor="let leader of leaders; let i = index" data-aos="fade-right">
        <img class="align-self-center mr-5" [src]="'/assets/images/faces-0' + (i + 1) + '.png'" [alt]="leader.name">
        <div class="media-body">
          <h3>{{ leader.name }}</h3>
          <p>{{ leader.status }}</p>
          <ul>
            <li *ngFor="let proud of leader.prouds">{{ proud }}</li>
          </ul>
          <p *ngIf="leader.afterwords">{{ leader.afterwords }}</p>
        </div>
      </div>
    </div>
    <div class="visible-xs">
      <div class="mt-5" *ngFor="let leader of leaders; let i = index" data-aos="fade-up">
          <div class="text-center mb-4">
            <img class="align-self-center mr-5" [src]="'/assets/images/faces-0' + (i + 1) + '.png'" [alt]="leader.name">
          </div>
          <h3>{{ leader.name }}</h3>
          <p>{{ leader.status }}</p>
          <ul>
            <li *ngFor="let proud of leader.prouds">{{ proud }}</li>
          </ul>
          <p *ngIf="leader.afterwords">{{ leader.afterwords }}</p>
      </div>
    </div>
  </div>
</div>

<div id="plan" class="container">
  <h2>Действуй с Edlabs, действуй по плану</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" *ngFor="let plan of plans">
      <h3>{{ plan.name }}</h3>
      <div class="media mt-4" *ngFor="let variant of plan.variants; let i = index" [attr.data-aos]="'fade-' + variant.aos" data-aos-offset="120">
        <div class="align-self-center mr-3">
          <div class="round">{{ i + 1 }}</div>
        </div>
        <div class="media-body">
          <h4>{{ variant.title }}</h4>
          <p>{{ variant.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 mb-5">
    <button class="btn btn-primary btn-reg" data-toggle="modal" data-target="#regModal">Хочу на курсы EdLabs</button>
  </div>
</div>

<div id="utp" class="container-fluid">
  <div class="container">
    <h2>Edlabs — оптимальное предложение</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="edlabs-card" data-aos="flip-left">
          <img src="/assets/images/course-01.png" alt="">
          <h3>Математика</h3>
          <p>От 410 рублей/ак. час</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="edlabs-card" data-aos="flip-right">
          <img src="/assets/images/course-02.png" alt="">
          <h3>Физика</h3>
          <p>От 410 рублей/ак. час</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features" class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4" data-aos="fade-down" *ngFor="let feature of features2; let i = index">
        <img [src]="'/assets/images/icon-set-0' + (i + 1) + '.png'" [alt]="feature.title">
        <h3>{{ feature.title }}</h3>
        <p [innerHTML]="feature.description"></p>
      </div>
    </div>
  </div>
</div>

<div id="navigation" class="container-fluid">
  <h2>Edlabs всегда рядом</h2>

  <!-- <div id="map" style="width: 600px; height: 400px"></div> -->

  <iframe src="https://yandex.ru/map-widget/v1/-/CBBaZHUtdA" width="100%" height="500" frameborder="0" allowfullscreen="true"></iframe>

  <div class="container text-center">
  <!-- <div class="map-infographics" data-aos="zoom-out">
      <img src="/assets/images/region-01.png" alt="">
      <span class="MO">Московская область</span>

      <div class="dot" (mouseover)="showAddress()"></div>

      <div class="additional-info">
        <div class="line"></div>
        <a class="position" href="https://yandex.ru/maps/-/CBBMmDbOSC" target="_blank">г. Королёв,<br>ул. Строителей, 15</a>
      </div>
    </div> -->

    <div class="text-center mt-5 mb-5">
      <button class="btn btn-primary btn-reg" data-toggle="modal" data-target="#regModal">Хочу на курсы EdLabs</button>
    </div>
  </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вход в EdLabs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" action="">
          <div class="form-group">
            <label for="exampleFormControlInput1">Логин</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Пароль</label>
            <input type="password" class="form-control">
          </div>
        </form>
        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#remindModal">Забыли логин/пароль?</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Войти</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Регистрация в EdLabs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <na-sign-up-pupil></na-sign-up-pupil>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remindModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Восстановление пароля</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" action="">
          <div class="form-group">
            <label for="exampleFormControlInput1">E-mail</label>
            <input type="email" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Восстановить пароль</button>
      </div>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    &copy; 2018 EdLabs
    <ul class="socials list-inline">
      <li class="list-inline-item" *ngFor="let social of socials"><a [href]="social.href" [class]="social.name" target="_blank"></a></li>
    </ul>
  </div>
</footer>